<footer>
    <div class="page-contain">
        <div class="top">
            <h4>广告合作</h4>
            <div class="contact-box clearfix">
                <div class="left">
                    <p>QQ：133000693</p>
                    <p>手机：13133477779</p>
                </div>
                <div class="right">
                    <p>商务邮箱：bd@huoxing24.com</p>
                    <p>投稿邮箱：tougao@huoxing24.com</p>
                </div>
            </div>
        </div>
        <div class="bottom clearfix">
            <div class="left">Copyright ©2018 Huoxing24 Ltd. All Rights Reserved.</div>
            <div class="right">
                <a rel="nofollow" title="t.me" href="https://t.me/huoxing24" target="_blank">
                    <img class="telegram" src="../../img/m-img/m-footer-telegram.png" alt="telegram">
                </a>
                <span class="v-line"></span>
                <a rel="nofollow" title="微博" href="http://weibo.com/huoxing24" target="_blank">
                    <img class="weibo" src="../../img/m-img/m-footer-weibo.png" alt="新浪">
                </a>
            </div>
        </div>
    </div>
</footer>