<div class="author-list-item">
    <a title="火星财经" class="author-icon" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">
        <img alt="火星财经" src="https://static-hx24.huoxing24.com/usericon/01a70e76781235638aa28b000b913c26/portrait/1522242402596504_300_300.png">
    </a>
    <a title="火星财经" class="author-name" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">火星财经</a>
    <p class="author-desc">作者的一句话个人简介，最多显示两行，多则省略号表示 作者的一句话个人简介，最多显示两行，多则省略号表示作者的一句话个人简介，最多显示两行，多则省略号表示</p>
</div>
<div class="author-list-item">
    <a title="火星财经" class="author-icon" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">
        <img alt="火星财经" src="https://static-hx24.huoxing24.com/usericon/01a70e76781235638aa28b000b913c26/portrait/1522242402596504_300_300.png">
    </a>
    <a title="火星财经" class="author-name" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">火星财经</a>
    <p class="author-desc">作者的一句话个人简介，最多显示两行，多则省略号表示 作者的一句话个人简介，最多显示两行，多则省略号表示作者的一句话个人简介，最多显示两行，多则省略号表示</p>
</div>
<div class="author-list-item">
    <a title="火星财经" class="author-icon" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">
        <img alt="火星财经" src="https://static-hx24.huoxing24.com/usericon/01a70e76781235638aa28b000b913c26/portrait/1522242402596504_300_300.png">
    </a>
    <a title="火星财经" class="author-name" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">火星财经</a>
    <p class="author-desc">作者的一句话个人简介，最多显示两行，多则省略号表示 作者的一句话个人简介，最多显示两行，多则省略号表示作者的一句话个人简介，最多显示两行，多则省略号表示</p>
</div>
<div class="author-list-item">
    <a title="火星财经" class="author-icon" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">
        <img alt="火星财经" src="https://static-hx24.huoxing24.com/usericon/01a70e76781235638aa28b000b913c26/portrait/1522242402596504_300_300.png">
    </a>
    <a title="火星财经" class="author-name" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">火星财经</a>
    <p class="author-desc">作者的一句话个人简介，最多显示两行，多则省略号表示 作者的一句话个人简介，最多显示两行，多则省略号表示作者的一句话个人简介，最多显示两行，多则省略号表示</p>
</div>
<div class="author-list-item">
    <a title="火星财经" class="author-icon" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">
        <img alt="火星财经" src="https://static-hx24.huoxing24.com/usericon/01a70e76781235638aa28b000b913c26/portrait/1522242402596504_300_300.png">
    </a>
    <a title="火星财经" class="author-name" href="http://192.168.84.25:3002/newsauthor/fff9d400cb94444fadaefd429516c276">火星财经</a>
    <p class="author-desc">作者的一句话个人简介，最多显示两行，多则省略号表示 作者的一句话个人简介，最多显示两行，多则省略号表示作者的一句话个人简介，最多显示两行，多则省略号表示</p>
</div>

