<ul id="liveNewsContain" class="flash-news-list">
    <li class="flash-news">
        <div class="news-item">
            <div class="item-icons">
                <div class="round"></div>
                <div class="time-left">
                    <span>16:48</span>
                </div>
            </div>
            <a class="" href="http://192.168.84.25:3002/liveNewsDetail/2018061316481332486.html">
                <h1 class="news-title">360团队：有黑客已盗走价值2000万美元的ETH</h1>
            </a>
            <h2 data-id="2018061316481332486" class="news-detail">
                火星财经（微信：hxcj24h）6月13日报道，根据360 Netlab报告称，由于以太坊矿机配置不当以及第三方应用问题，黑客到目前为止已经窃取了2000万美元的ETH。360 Netlab的专家表示，这些网络攻击的目标是不安全的以太坊节点。而早在3月15日，360 Netlab就提醒加密货币社区黑客正在搜索互联网上不安全的以太坊节点，当时网络犯罪分子盗走了3.96个ETH。然而，最近的研究发现另一个黑客成功盗走了38642个ETH，大约价值2000万美元。


            </h2>
            <img alt="" src="../../img/hotNews/hot-img1.jpg"/>
        </div>
    </li>
    <li class="flash-news">
        <div class="news-item">
            <div class="item-icons">
                <div class="round"></div>
                <div class="time-left">
                    <span>16:48</span>
                </div>
            </div>
            <a class="" href="http://192.168.84.25:3002/liveNewsDetail/2018061316481332486.html">
                <h1 class="news-title">360团队：有黑客已盗走价值2000万美元的ETH</h1>
            </a>
            <h2 data-id="2018061316481332486" class="news-detail">
                火星财经（微信：hxcj24h）6月13日报道，根据360 Netlab报告称，由于以太坊矿机配置不当以及第三方应用问题，黑客到目前为止已经窃取了2000万美元的ETH。360 Netlab的专家表示，这些网络攻击的目标是不安全的以太坊节点。而早在3月15日，360 Netlab就提醒加密货币社区黑客正在搜索互联网上不安全的以太坊节点，当时网络犯罪分子盗走了3.96个ETH。然而，最近的研究发现另一个黑客成功盗走了38642个ETH，大约价值2000万美元。


            </h2>
            <img alt="" src="../../img/hotNews/hot-img1.jpg"/>
        </div>
    </li>
    <li class="flash-news">
        <div class="news-item">
            <div class="item-icons">
                <div class="round"></div>
                <div class="time-left">
                    <span>16:48</span>
                </div>
            </div>
            <a class="" href="http://192.168.84.25:3002/liveNewsDetail/2018061316481332486.html">
                <h1 class="news-title">360团队：有黑客已盗走价值2000万美元的ETH</h1>
            </a>
            <h2 data-id="2018061316481332486" class="news-detail">
                火星财经（微信：hxcj24h）6月13日报道，根据360 Netlab报告称，由于以太坊矿机配置不当以及第三方应用问题，黑客到目前为止已经窃取了2000万美元的ETH。360 Netlab的专家表示，这些网络攻击的目标是不安全的以太坊节点。而早在3月15日，360 Netlab就提醒加密货币社区黑客正在搜索互联网上不安全的以太坊节点，当时网络犯罪分子盗走了3.96个ETH。然而，最近的研究发现另一个黑客成功盗走了38642个ETH，大约价值2000万美元。


            </h2>
            <img alt="" src="../../img/hotNews/hot-img1.jpg"/>
        </div>
    </li>
</ul>