<div class="live-wrap clearfix" data-id="<%= data.liveId %>" data-status="<%= data.liveStatus %>">
    <img class="live-topic-img" src="../../img/liveDetail/live-imgen.jpg">
    <div class="live-banner">
        <div class="live-box clearfix">
            <div class="live-details clearfix">
                <div class="live-details-left">
                    <div class="live-cont-left clearfix">
                        <div class="live-left-content">
                            <div class="live-state en"></div>
                            <div class="live-tab-box clearfix" id="livListBox">
                            </div>
                        </div>
                    </div>
                    <div class="live-left-reply" style="display: none">
                        <div id="replyBox"></div>
                    </div>
                </div>
                <div class="live-cont-right">
                    <div class="guest-title">Special Guest</div>
                    <div class="figure">
                        <div class="portrait"><img src="" alt="">
                        </div>
                        <div class="name"><h5></h5><p></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>