/**
 * Author：zhoushuanglong
 * Time：2017/7/27
 * Description：main
 */

.hx-main {
    padding-top: 16px;
    background: url("img/main-bg.jpg") no-repeat top;
}

.header-roll-msg-wrap {
    background: #050933;
}

.header-nav-wrap {
    min-width: 1200px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
}
