<div class="share-box-wrap" id="shareBox">
    <div class="share-box">
        <img alt="火星财经" class="share-bg" id="shareBackground" src="../../img/m-img/share.jpg"/>
        <div class="share-cont">
            <div class="title-time"><img id="shareTime" src="../../img/m-img/time-t.png" alt=""><span id="shareTM"></span></div>
            <!--<div class="label">实时快讯</div>-->
            <h6 id="articleTitle"></h6>
            <div class="share-introduce" id="shareCon"></div>
            <div class="share-img">
                <img class="peitu" id="peitu" src="" crossorigin="anonymous" alt="">
                <p class="peitu-msg" id="peitu-msg"></p>
            </div>
            <div class="share-bottom">
                <div class="share-ewm"><img id="shareQrcode" src="../../img/m-img/huoxing-share.jpg" alt="火星财经APP"></div>
                <div class="share-ewm-right">
                    <p>扫描二维码下载「火星财经」APP</p>
                    <p>最高领取 <i class="numMark">900</i> NST</p>
                </div>
                <div style="clear: both"></div>
                <div class="domain">
                    <p>「火星财经」官网</p>
                    <p>www.huoxing24.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="img-wrap page-app" id="imgWrap">
    <div class="img-con-mask" id="imgConMask"></div>
    <div class="img-con">
        <img id="imgCon" src="../../img/m-img/share.jpg" alt="快讯分享">
    </div>
    <div class="img-tips">长按图片转发给朋友</div>
</div>
