<div class="m-top" id="wTop">
    <div class="huoxing-top" id="huoxingTop">
        <a title="火星财经" class="logo" href="<%= domain %>">
            <img alt="火星财经" src="../../img/m-img/m-logo.svg">
        </a>
    </div>
    <div class="nav-down">
        <div class="img-down">
            <img alt="展开" src="../../img/m-img/down-img.png" />
        </div>
    </div>
    <div class="nav-down-warp">
        <div class="nav-down-contain">
            <h3>所有栏目</h3>
            <ul></ul>
        </div>
    </div>
    <div class="x-over">
        <div class="x-over-con">
            <div class="swiper-pagination body-wrap" id="hxWrapPage"
                 data-id="<%= !data || !data.searchId ? 0 : data.searchId %>"></div>
        </div>
    </div>
    <div class="fash-title" data-time=""></div>
</div>
<!--<div class="swiper-pagination body-wrap" id="hxWrapPage" data-id="<%#= !data || !data.searchId ? 0 : data.searchId%>"></div>-->
