{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 5 versions",
            "ie >= 9"
          ]
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}