<!-- 公共头部 -->
@@include('public/header-prue-tdk.ejs', {
"plugin": [],
"private": ["../css/buDownload.css"]
})

<div class="section-one">
    <div class="section-main clearfix">
        <div class="one-left">
            <img src="../img/biyou/section0-0.png" alt=""/>
        </div>
        <div class="one-right">
            <h1>火星币优</h1>
            <h2>全面数字货币管家</h2>
            <h3>查看数千种货币即时价格 支持180多家主流交易所</h3>
            <div class="one-download-qrcode clearfix">
                <div class="one-download">
                    <a href=""><img src="../img/biyou/section0-apple.png" alt=""><span>iPhone下载</span></a>
                    <a href=""><img src="../img/biyou/section0-android.png" alt=""><span>Android下载</span></a>
                </div>
                <div class="qrcode">
                    <img src="../img/biyou/section0-qrcode.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-two">
    <div class="section-main">
        <div class="section-title">
            <h2>自动导入</h2>
            <p>币优首创自动记录，解决用户记账烦恼</p>
            <p>即将支持超过100家交易所与两款钱包</p>
        </div>
        <div class="seciton-img">
            <img src="../img/biyou/section1-phone.png" alt="">
        </div>
    </div>
</div>
<div class="section-three">
    <div class="section-main">
        <div class="section-title">
            <h2>查看记录交易数据</h2>
            <p>提供持仓市值、今日盈利、历史盈利、成本等数据，让你分析你的买卖</p>
            <p>提供操作、交易对、总金额、买卖价格、交易费，以及当时买卖价格相对于今天的涨跌幅</p>
        </div>
        <div class="seciton-img">
            <img src="../img/biyou/section2-phone.png" alt="">
        </div>
    </div>
</div>
<div class="section-four">
    <div class="section-main">
        <div class="section-title">
            <h2>全资产记录</h2>
            <p>除了自动记录交易所和钱包资产外，还可以手动记录ICO和法币资产</p>
        </div>
        <div class="seciton-img">
            <img src="../img/biyou/section3-phone.png" alt="">
        </div>
    </div>
</div>
<div class="section-five">
    <div class="section-main">
        <div class="section-title">
            <h2>多账本功能</h2>
            <p>让你轻松分开管理多个交易所及钱包的资产，或查看别的大V的资金，或者帮人管理资金</p>
        </div>
        <div class="seciton-img">
            <img src="../img/biyou/section4-phone.png" alt="">
        </div>
    </div>
</div>
<div class="section-six">
    <div class="section-main">
        <div class="section-title">
            <h2>完善的行情数据</h2>
        </div>
        <ul class="seciton-img clearfix">
            <li><img src="../img/biyou/section5-phone0.png" alt="">
                <h3>币板块</h3><span>提供了24小时/7天/30天的板块涨跌幅并提供指数，让你更清晰地知道每个板块的变化</span></li>
            <li><img src="../img/biyou/section5-phone0.png" alt="">
                <h3>长期数据</h3><span>除常规的25小时涨跌幅，还提供了1小时、1周、1个月、3个月、6个月的涨跌幅</span></li>
            <li><img src="../img/biyou/section5-phone0.png" alt="">
                <h3>毫秒级更新</h3><span>我们已经支持主流交易所数据的直连、我们做到毫秒级更新</span></li>
        </ul>
    </div>
</div>
<div class="section-seven">
    <div class="section-main">
        <div class="section-title">
            <h2>7x24H 快讯</h2>
            <p>行业资讯 即时推送</p>
        </div>
        <ul class="section-img clearfix">
            <li><img src="../img/biyou/section6-phone0.png" alt=""></li>
            <li><img src="../img/biyou/section6-phone1.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="section-eight">
    <div class="section-main">
        <div class="section-title">
            <h2>聚合交易</h2>
            <p>聚合交易可以让你在一个App上就能交易所有支持的交易所</p>
            <p>目前已经支持币安、Bittrex、HitBTC以及Fcoin，即将支持20家交易所</p>
        </div>
        <div class="seciton-img">
            <img src="../img/biyou/section7-phone.png" alt="">
        </div>
    </div>
</div>

<!-- 公共底部 -->
@@include('public/footer-prue.ejs', {
"plugin": [],
"private": ["../js/buDownload.js"]
})

