@@include("public/m-header.ejs", {
"plugin": [],
"private": ["../css/m-appDown.css"]
})
<div class="m-appDown">
    <img src="../img/m-appDown/app-down_02.jpg" alt="">
    <img src="../img/m-appDown/app-down_03.jpg" alt="">
    <img src="../img/m-appDown/app-down_04.jpg" alt="">
    <img src="../img/m-appDown/app-down_05.jpg" alt="">
    <img src="../img/m-appDown/app-down_06.jpg" alt="">
    <img src="../img/m-appDown/app-down_07.jpg" alt="">
    <img src="../img/m-appDown/app-down_08.jpg" alt="">
    <img src="../img/m-appDown/app-down_09.jpg" alt="">
    <img src="../img/m-appDown/app-down_10.jpg" alt="">
    <img src="../img/m-appDown/app-down_11.jpg" alt="">
    <img src="../img/m-appDown/app-down_12.jpg" alt="">
    <img src="../img/m-appDown/app-down_13.jpg" alt="">
    <img src="../img/m-appDown/app-down_14.jpg" alt="">
    <img src="../img/m-appDown/app-down_15.jpg" alt="">
    <img src="../img/m-appDown/app-down_16.jpg" alt="">
    <img src="../img/m-appDown/app-down_17.jpg" alt="">
    <img src="../img/m-appDown/app-down_18.jpg" alt="">
    <img src="../img/m-appDown/app-down_19.jpg" alt="">
    <img src="../img/m-appDown/app-down_20.jpg" alt="">
    <img src="../img/m-appDown/app-down_21.jpg" alt="">
    <div class="app-down1" id="appDown1">立即下载</div>
    <div class="app-down2" id="appDown2">立即下载</div>
</div>

@@include("public/m-footer-prue.ejs", {
"plugin": [],
"private": ["../js/m-common.js", "../js/m-appDown.js"],
"shreTitle": "<%= webSiteInfo.title %>",
"shareDesc": "<%= webSiteInfo.description %>",
"shareImgurl": "http://static.huoxing24.com/images/wxshare-icon.png"
})
