<div class="marketDateList" id="marketDateList">
    <h2>排行榜</h2>
    <div class="market-list-title clearfix">
        <div class="market-list-tab">
            <span class="act" data-type="changeD" data-load="off">涨幅榜</span>
            <span data-type="changeA" data-load="off">跌幅榜</span>
            <span data-type="rank" data-load="off">市值</span>
            <!--<span>净流入</span>-->
            <span data-type="turnover" data-load="off">换手率</span>
            <!--<span>量比</span>-->
            <span data-type="volume" data-load="off">成交额</span>
        </div>
        <!--<div class="market-list-set">-->
        <!--<p>涨幅设置</p>-->
        <!--</div>-->
    </div>

    <!-- 分类名 -->
    <ol class="market-list-sort clearfix"></ol>
    <!-- 数据列表 -->
    <ul class="market-list-todo"></ul>
    <!--<div class="simple-pagination" id="pagination-market"></div>-->
</div>