/**
 * Author：tantingting
 * Time：2018/5/16
 * Description：Description
 */
@import "../public/rem";

.m-top {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    transition: all ease 0.5s;

    &.index-active {
        transform: translate3d(0, rem(-85), 0);
    }

    &.slideUp {
        transform: translate3d(0, rem(-(85 + 90)), 0);
    }

    &.shadow {
        box-shadow: 0 rem(8) rem(20) 0 rgba(193, 193, 193, 0.24);
    }

    .huoxing-top {
        width: 100%;
        height: rem(85);
        background: url("../../img/m-img/top.jpg") no-repeat;
        background-size: cover;

        .logo {
            width: rem(150);
            height: rem(34);
            display: block;
            margin: 0 auto;
            padding-top: rem(26);
            //padding: rem((85 - 34) / 2) 0;
        }

        .back-prev-page {
            position: absolute;
            left: rem(36);
            top: rem((85 - 34) / 2);
            height: rem(34);
            width: rem(18);
        }

        .search-btn {
            position: absolute;
            right: rem(30);
            top: rem((85 - 35) / 2);

            img {
                height: rem(35);
                width: rem(35);
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    // 导航
    .nav-down {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.6);
        top: rem(85);
        height: rem(90);
        line-height: rem(90);
        right: 0;
        z-index: 999;
        padding-left: rem(20);

        &.fixed {
            position: fixed;
            top: 0;
        }

        .img-down {
            //position: absolute;
            background: #fff;
            background-size: contain;
            padding: 0 rem(25) rem(0) rem(5);

            img {
                width: rem(27);
                height: rem(15);
            }

            &.up {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .nav-down-warp {
        position: fixed;
        z-index: 12;
        top: rem(85);
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;

        &.show {
            display: block;
        }

        &.fixed {
            position: fixed;
            top: 0;
        }

        .nav-down-contain {
            background-color: #fff;
            width: 100%;
            font-size: rem(25.6);
            color: #212121;

            h3 {
                height: rem(90);
                line-height: rem(90);
                padding-left: rem(25);
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                padding-left: rem(5);
                padding-bottom: rem(30);

                li {
                    width: rem(180);
                    height: rem(54);
                    text-align: center;
                    line-height: rem(54);
                    border: 1px solid #ededed;
                    border-radius: rem(10);
                    margin-left: rem(20);
                    margin-bottom: rem(20);

                    &.active {
                        color: #1776f4;
                    }
                }
            }
        }
    }

    .x-over {
        height: rem(90);
        width: rem(600);
        overflow: hidden;

        .x-over-con {
            height: rem(102);
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none !important;
                width: 0 !important;
            }
        }

        .body-wrap {

            // $itemWidth: 560/6;

            // $bodyWrapWidth: (12 * $itemWidth + 130 * 1);

            position: inherit;
            top: 0;
            padding: 0 rem(10);
            // width: rem($bodyWrapWidth) !important;
            height: rem(90);
            line-height: rem(90);
            background: #fff;
            transition: all 0.5s ease 0s;
            z-index: 10;

            /* &.active {
                transform: translateX(rem(600 - $bodyWrapWidth - 15));
            } */

            .column-nav {
                position: relative;
                display: block;
                float: left;
                // width: rem($itemWidth);
                height: 100%;
                background: none;
                text-align: center;
                transition: all 0.5s ease 0s;
                padding: 0 rem(20);
                width: auto;

                &:active,
                &:after,
                &:visited,
                &:hover {
                    color: #1776f4;
                }

                &:nth-child(11) {
                    width: rem(130);
                }

                &.swiper-pagination-bullet {
                    margin: 0;
                    color: #757575;
                    opacity: 1;
                }

                &.swiper-pagination-bullet-active {
                    color: #1776f4;
                    opacity: 1;
                }

                i {
                    position: absolute;
                    width: rem(30);
                    height: rem(3);
                    bottom: 0;
                    left: 50%;
                    margin-left: rem(-15);
                    border-radius: rem(3);
                    background: #1776f4;
                    display: none;

                    &.active {
                        display: block;
                    }
                }
            }
        }
    }
}

.wrap-box {
    .overall-box {
        padding-top: rem(85 + 90);
        display: flex;
    }
}

.fash-title {
    width: rem(590);
    padding: 0 rem(25);
    line-height: rem(70);
    font-size: rem(27);
    background: #fff;
    border-bottom: rem(2) #eee solid;
    border-top: rem(1) #eee solid;
    position: absolute;
    top: rem(175);
    left: 0;
    z-index: 9;
    display: none;

    img,
    span {
        display: inline-block;
        background-size: 100%;
        float: left;
        margin-right: rem(10);
        height: rem(30);
        vertical-align: top;
        margin-top: rem(20);

        &:last-child {
            margin-right: 0;
        }
    }

    span {
        margin: 0 rem(19);

        &:first-child {
            color: #1776f4;
        }

        &.active {
            color: #1776f4;
        }
    }
}

