@import "./public/normalize";
@import "./public/m-public";
@import "./public/m-header";
@import "./public/m-footer";
@import "../fonts/iconfont.scss";
@import "./public/rem";

.m-login-register {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: rem(640);
    background: #fff;

    .m-register,
    .m-login,
    .m-modification,
    .relevance {
        position: fixed;
        top: rem(150);
        left: rem(65);
        width: rem(510);
        display: none;

        &.show {
            display: block;
        }

        .weChat-img {
            width: rem(150);
            height: rem(150);
            margin-left: rem(180);

            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }

        ul {
            li {
                width: 100%;
                height: rem(40);
                padding: rem(17) 0;
                border-bottom: rem(1) #eee solid;

                .code-btn {
                    width: rem(125);
                    height: rem(55);
                    border: rem(1) #eee solid;
                    line-height: rem(55);
                    text-align: center;
                    outline: none;
                    float: right;
                    font-size: rem(20);
                    color: #757575;
                    background: none;
                    margin-top: rem(-6);
                    -webkit-appearance: none;
                }

                i {
                    display: inline-block;
                    width: rem(70);
                    height: rem(40);
                    float: left;

                    &.icon-shouji,
                    &.icon-jiesuo {
                        &:before {
                            font-size: rem(45);
                            margin-left: rem(-6);
                        }
                    }

                    &.icon-wo {
                        font-size: rem(14);
                    }

                    &.icon-jiesuo {
                        &:before {
                            margin-top: rem(-30);
                        }
                    }

                    &:before {
                        font-size: rem(36);
                    }
                }

                input {
                    float: right;
                    width: rem(440);
                    height: rem(40);
                    line-height: rem(40);
                    border: none;
                    outline: none;
                    -webkit-appearance: none;

                    &.code {
                        width: rem(200);
                        float: left;
                    }
                }
            }
        }

        .already {
            margin: rem(50) auto;
            font-size: rem(26);
            text-align: center;
            color: #222;
        }

        .forget-passw {
            font-size: rem(22);
            color: #999;
            float: right;
            height: rem(60);
            margin-top: rem(10);
            line-height: rem(60);
        }

        .confirm-btn {
            width: 100%;
            height: rem(70);
            line-height: rem(70);
            text-align: center;
            background: #2787f5;
            font-size: rem(26);
            color: #fff;
            margin-top: rem(60);
            border-radius: rem(5);

            &.login {
                margin-top: rem(100);
            }
        }

        .new-register {
            position: relative;
            width: rem(170);
            height: rem(60);
            line-height: rem(60);
            margin-left: rem(170);
            font-size: rem(22);
            margin-top: rem(25);
            color: #999;
            text-align: center;
        }

        .wechat-login {
            position: relative;
            width: rem(140);
            height: rem(130);
            margin: rem(150) auto 0;
            font-size: rem(22);
            color: #999;
            text-align: center;

            img {
                width: rem(70);
                height: rem(70);
                margin-top: rem(20);
            }
        }
    }

    .code-img {
        position: fixed;
        left: rem(46);
        top: 20%;
        width: rem(448);
        height: rem(258);
        background: #fff;
        border-radius: rem(5);
        padding: rem(80) rem(50);
        display: none;
        z-index: 20;

        p {
            position: relative;
            width: 100%;
            height: rem(70);
            border-bottom: 1px #eee solid;

            .iconfont {
                position: absolute;
                top: rem(20);
                float: left;
            }

            img {
                width: rem(26);
                float: left;
                margin-right: rem(10);
                vertical-align: top;
                margin-top: rem(20);
            }

            #codeImg {
                position: absolute;
                left: rem(300);
                top: rem(-10);

                img {
                    width: rem(130);
                }
            }

            input {
                width: rem(200);
                height: rem(70);
                line-height: rem(70);
                border: none;
                float: left;
                margin-left: rem(40);
                outline: none;
                -webkit-appearance: none;
            }
        }

        .refresh-img {
            position: absolute;
            right: rem(50);
            top: rem(180);
            color: #999;
            font-size: rem(24);

            img {
                width: rem(26);
                vertical-align: top;
                margin: rem(0) rem(10) 0 0;
            }
        }

        .code-btn {
            position: absolute;
            top: rem(250);
            width: rem(440);
            height: rem(70);
            text-align: center;
            line-height: rem(70);
            color: #222;
            background: #ffd100;
            border-radius: rem(5);
        }
    }
}

.shade {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2;
}

#iframe {
    display: none;
}
