<div class="down-load">
    <div class="down-cont">
        <div class="phone">
            <img src="../../img/download/phone.png" alt="<%= domain %>">
        </div>
        <div class="down-load-box">
            <div class="down-log">
                <img src="../../img/download/download-logo.png" alt="<%= domain %>">
            </div>
            <div class="down-ewm">
                <p>
                    <img src="../../img/download/ewm.jpg" alt="<%= domain %>">
                </p>
            </div>
            <div class="down-btn">
                <a rel="nofollow" class="ios" title="ios下载地址" href="https://itunes.apple.com/cn/app/id1343659925?mt=8" target="_black"></a>
                <a rel="nofollow" class="android" title="安卓下载地址" href="http://android.myapp.com/myapp/detail.htm?apkName=com.linekong.mars24&amp;ADTAG=mobile#opened" target="_black"></a>
            </div>
        </div>
    </div>
    <!--<div class="phone-shade"></div>-->
</div>
