<div class="live-wrap clearfix" data-id="<%= data.liveId %>" data-status="<%= data.liveStatus %>">
    <img class="live-topic-img" src="">
    <div class="live-banner">
        <div class="live-box clearfix">
            <div class="live-details clearfix">
                <div class="live-details-left">
                    <div class="live-cont-left clearfix">
                        <div class="live-left-content">
                            <div class="live-state"></div>
                            <div class="live-tab-box clearfix" id="livListBox">
                            </div>
                        </div>
                    </div>
                    <div class="live-left-reply">
                        <div id="replyBox"></div>
                    </div>
                </div>
                <div class="live-cont-right">
                    <div class="guest-title"><img src="../../img/liveDetail/guest-title.png" alt="本期嘉宾"></div>
                    <div class="figure">
                        <div class="portrait"><img src="" alt="">
                        </div>
                        <div class="name"><h5></h5><p></p></div>
                    </div>
                    <div class="wf-ewm">
                        <img src="../../img/liveDetail/wf-ewm.jpg" alt="王峰十问">
                        <p class="title2">扫描二维码&nbsp;&nbsp;手机看直播</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>