/**
 * Author：liushaozong
 * Time：2017/8/10
 * Description：news list
 */
.about-content {
    width: 100%;
    min-width: 1200px;

    .logo-content {
        width: 100%;
        height: 300px;
        background: url("./img/bg-new.jpg") no-repeat center;
        position: relative;
        text-align: center;

        .logo {
            margin-top: 125px;
        }
    }

    .title {
        text-align: center;
        font-size: 32px;
        letter-spacing: 2px;
    }

    .en-title {
        text-align: center;
        font-size: 12px;
        padding: 10px 0 30px;
        letter-spacing: 2px;
        color: #b4b4b4;
    }

    .about-content-div {
        width: 100%;
        // height: 929px;
        height: 529px;
        margin: 0 auto;
        background: url("./img/content-bg.jpg") no-repeat top;

        .about-content {
            width: 1000px;
            margin: 0 auto;

            & > .title {
                padding-top: 70px;
            }

            .content {
                p {
                    font-size: 16px;
                    line-height: 24px;
                    padding-bottom: 30px;

                    &:last-child {
                        margin-top: 10px;
                        text-align: center;
                        font-size: 24px;
                    }
                }
            }

            .contact-us {
                padding-top: 70px;
                display: inline-block;
                width: 410px;
                height: 260px;
                font-size: 16px;

                .mail {
                    color: #b4b4b4;
                    padding: 20px 0 10px;
                }

                .mail-add {
                    color: #5bb1f6;
                }

                .bd,
                .tg {
                    display: inline-block;
                    text-align: center;
                }

                .bd {
                    width: 200px;
                }

                .tg {
                    width: 210px;
                }
            }

            .follow-us {
                float: right;
                padding-top: 70px;
                display: inline-block;
                width: 400px;
                font-size: 16px;
                height: 260px;

                .qrcode {
                    margin-left: 15px;
                    display: inline-block;
                    width: 150px;
                    text-align: center;
                    color: #737373;
                    font-size: 14px;

                    .code {
                        width: 141px;
                    }
                }

                .follow {
                    display: inline-block;
                    float: right;

                    a {
                        width: 180px;
                        height: 56px;
                        display: block;
                    }

                    .tele {
                        margin-top: 10px;
                        background: url("./img/tele.png") no-repeat center;
                    }

                    .sina {
                        margin-top: 14px;
                        background: url("./img/sina.png") no-repeat center;
                    }
                }
            }
        }
    }
}
