/**
 * Author：zhoushuanglong
 * Time：2018-02-09 00:42
 * Description：exchange list
 */

.exchange-list-wrap {
    margin: 40px auto 0;
    padding: 20px 20px 0;
    width: 1160px;

    .bazaary-market,
    .market-tab-box {
        height: auto;
    }
}
