/**
 * Author：liushaozong
 * Time：2017/8/10
 * Description：ProjectMaterial
 */

@import "../public/newsList";

.market-correlation-news {
    width: 1140px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 20px 30px;

    .news-let {
        width: 690px;
        float: left;

        .correlation-news-more {
            display: block;
            width: 138px;
            height: 38px;
            border: 1px #b3e5fc solid;
            text-align: center;
            line-height: 38px;
            float: right;
            margin: 30px 0;
            color: #1482f0;
        }
    }

    .news-right {
        width: 388px;
        float: right;
        margin-top: 20px;
        padding: 20px 0 0;
        border: 1px #eee solid;

        .correlation-news-title {
            width: 360px;
            height: 50px;
            margin: 0 auto;
            border-bottom: 1px #eee solid;

            li {
                position: relative;
                float: left;
                width: 90px;
                height: 100%;
                line-height: 50px;
                text-align: center;
                font-size: 16px;
            }
        }

        .market-correlation-list {
            width: 100%;
            height: auto;
            margin: 15px auto 0;

            tr {
                line-height: 60px;

                td {
                    width: 97px;
                    text-align: center;
                    font-size: 14px;

                    &:nth-child(1),
                    &:nth-child(2) {
                        color: #1482f0;
                    }

                    .huobi-logo {
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        border: 1px #eee solid;
                        border-radius: 5px;
                        vertical-align: middle;

                        img {
                            width: 19px;
                            height: 19px;
                            vertical-align: top;
                            margin-top: 5px;
                        }
                    }
                }

                &:nth-child(2n) {
                    background: #f5f5f5;
                    line-height: 45px;
                }

                &:hover {
                    background: #f4faff;
                }
            }

            .correlation-list-more {
                width: 328px;
                height: 35px;
                border: 1px #b3e5fc solid;
                color: #1482f0;
                text-align: center;
                font-size: 16px;
                line-height: 35px;
                margin: 15px auto 0;
                cursor: pointer;
            }
        }
    }
}
